
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("1.B09280065 葉家浩 呼叫 FileUploadController", "Create", "FileUpload")
    <br />
    @Html.ActionLink("2.B09280065 葉家浩 呼叫 MultiFileUploadController", "Create", "MultiFileUpload")
</body>
</html>
